# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=news_pipeline
POSTGRES_PORT=5432
POSTGRES_EXTERNAL_PORT=5433
POSTGRES_HOST=postgres

# Kafka
KAFKA_BOOTSTRAP_SERVERS=your-kafka-host:port
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_SASL_USERNAME=your_kafka_username
KAFKA_SASL_PASSWORD=your_kafka_password
KAFKA_SSL_CAFILE=ssl/ca.pem
KAFKA_UI_PORT=8081

# Qdrant
QDRANT_HOST=qdrant
QDRANT_PORT=6333
QDRANT_API_KEY=your_qdrant_api_key_here

# API
API_PORT=8000

# News API
NEWS_API_KEY=your_newsapi_key_here